<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__texts">
                <div class="">
                    <h4 class="footer__logo">Ryadom</h4>
                    <p>Проект создан командой Александра Назарова</p>
                </div>
                <a href="mailto:ryadom-spbu@mail.ru">
                    <h4 class="footer__mail">ryadom-spbu@mail.ru</h4>
                </a>
            </div>
            <div class="footer__logos">
                <a href="https://spbu.ru">
                    <img src="https://storage.yandexcloud.net/ryadom-obj/spbu_footer_logo.png" alt="Санкт-Петербургский Государственный Университет">
                </a>
                <a href="https://guu.ru">
                    <img src="https://storage.yandexcloud.net/ryadom-obj/sum_footer_logo.png" alt="Государственный Университет Управления">
                </a>
                <a href="https://www.sstu.ru">
                    <img src="https://storage.yandexcloud.net/ryadom-obj/sstu_footer_logo.png" alt="Саратовский Государственный Технический Университет">
                </a>
                <a href="https://tvoyhod.online">
                    <img src="https://storage.yandexcloud.net/ryadom-obj/th_footer_logo.png" alt="Всероссийский студенческий конкурс «Твой Ход»">
                </a>
            </div>
        </div>
    </div>
</footer>