{% extends "base.html" %}

{% block content %}

    {% include "logo.html" %}
    {% include "nav.html" %}

    <div class="container">
        <div class="slider">
            {% for slide in slides %}
                <a href="/event/{{ slide.id }}" target="_blank" class="slider__element {% if loop.index0 == 0 %}active{% endif %}" style="background-image: url('{{ slide.banner if slide.banner else '/static/src/img/banner.png' }}');">
                    <div class="slider__element-text">
                        <h4>{{ slide.name }}</h4>
                        <p>{{ slide.human_date }}</p>
                        <p>{{ slide.address }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="affiche">
            <h3>Афиша событий</h3>
            <div class="affiche__scroll-container">
                <ul class="affiche__list">
                    {% for day in date_list %}
                        <li class="affiche__item">
                            <a href="{{ context.update_query_params(date=day.iso_date) }}" style="text-align: center;">
                                <div class="affiche__day {% if day.is_weekend %}weekend{% endif %}">
                                    <p>{{ day.month_day }}</p>
                                    <p>{{ day.week_day }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="events">
            {% if events %}
                {%  for event_data in events %}
                <a href="/event/{{ event_data.id }}" target="_blank" class="event">
                    <img src="{{ event_data.photo if event_data.photo else '/static/src/img/event.png' }}" alt="Мероприятие" class="event__photo">
                    <p class="event__card-name">{{ event_data.name }}</p>
                    <p class="event__card-date">{{ event_data.human_date }} {{ '– ' + event_data.start_time if event_data.start_time else ''}}</p>
                </a>
                {% endfor %}
            {% else %}
                <p>События по заданным параметрам не найдены... :(</p>
            {% endif %}
        </div>
    </div>

    <script src="/static/js/slider.js"></script>
{% endblock %}