<div class="container">
    <nav class="category-nav">
        <div class="category-nav__scroll-container">
            <ul class="category-nav__list">
                {% for category in allowed_categories %}
                    <li class="category-nav__item">
                        <a href="{{ context.update_query_params(category=category.id) }}" 
                        class="category-nav__link {% if category.id == active_category %}active{% endif %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>