/* GENERAL SETTINGS */

:root {
    --base-vertical-margin: 2.5vh;

    --base--transition: all 0.2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    
    font-family: Geologica;
    color: var(--main-font-color);
}

h3 {
    margin-bottom: var(--base-vertical-margin);
}

.container {
    width: 68.75vw;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;

    margin-top: var(--base-vertical-margin);
    margin-bottom: calc(var(--base-vertical-margin) - 1vh);

    font-size: 4vh;
    font-weight: bold;
    color: var(--main-font-color);
    text-decoration: none;
}

.logo span {
    color: var(--accent-color);
}

.profile__login {

    padding: 1vh 2.5vh;

    font-size: 2.4vh;
    text-decoration: none;
    color: var(--main-bg-color);

    background: var(--accent-color);

    border-radius: 3vh;
}

nav {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.nav__menu {
    width: 100%;
}

.nav__menu ul {
    display: flex;
    list-style: none;
}

.nav__menu ul li {
    margin-right: 2.5vw;
}

.nav__menu ul li a {
    font-size: 2.4vh;
    text-decoration: none;
    color: var(--main-font-color);
}

.nav__menu ul li a:hover {
    color: var(--accent-color);
    /* text-decoration: underline; */

    transition: var(--base--transition);
}

.slider {
    width: 100%;
    height: 50vh;
    
    margin-bottom: var(--base-vertical-margin);
    
    background-color: #fff;
    
    /* border: 2px solid green; */
}

.slider__element {
    width: 100%;
    height: 100%;

    padding: 4vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    border-radius: 3vh;
    
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    
    color: var(--main-bg-color);    
}

.slider__element h4 {
    font-size: 4vh;
    font-weight: 400;
}

.slider__element p {
    font-size: 2.4vh;
    font-weight: 200;

    opacity: .8;
}

.affiche {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);

    /* border: 2px solid yellow; */
}

.affiche h3 {    
    font-size: 3vh;

    color: var(--accent-color);
}

.affiche ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.affiche ul li a {
    text-decoration: none;
    color: var(--main-font-color);
}

.affiche ul li a:hover {
    color: var(--accent-color);

    transition: var(--base--transition);
}

.affiche__day p:nth-child(1) {
    font-weight: bold;
}

.affiche__day p:nth-child(2) {
    font-weight: normal;

    opacity: .5;
}

.weekend {
    color: var(--accent-color);
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center; /* Центрируем элементы */
}

.event {
    flex: 0 0 calc((100% - 2 * 5vh) / 3);

    overflow: hidden;

    text-decoration: none;

    color: var(--main-font-color);
}

.event__photo {
    width: 100%;
    aspect-ratio: 8/5;

    object-fit: cover;
    
    border-radius: 3vh;
}

.event__card-name {
    font-size: 3vh;
    font-weight: 600;
}

.event__card-date {
    font-size: 2.4vh;
    font-weight: 400;

    opacity: .65;
}

/* EVENT */

.event__header {
    position: relative;

    width: 100%;
    height: 52vh;

    padding: var(--base-vertical-margin);
    margin-bottom: var(--base-vertical-margin);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: #000;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    color: var(--main-bg-color);
}

.event__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.event__header > * {
    position: relative;
    z-index: 2;
}

.event__tags {
    display: flex;
    
    width: 50%;
    
    margin-bottom: calc(var(--base-vertical-margin) - 1.5vh);
}

.event__tags p {
    /* height: 3vh; */

    padding: .5vh 1.5vh;
    margin-right: .5vw;

    background: rgb(163 166 175 / .6);

    font-size: 1.8vh;
    font-weight: 500;

    border-radius: 4vh;
}

.event__tags p:first-child {
    background: var(--accent-color);
}

.event__header-title {
    margin-bottom: 0;
}

.event__header-date, .event__header-place {
    font-size: 2vh;
    font-weight: 400;
    color: #ABABAB;
}

.event__header-buttons {
    display: flex;

    margin-top: var(--base-vertical-margin);
}

.event__header-buttons a {
    display: block;

    padding: 1vh 1.5vh;
    margin-right: 1vw;

    border-radius: 4vh;

    color: var(--main-bg-color);
    font-size: 2vh;
    text-decoration: none;

    background: var(--accent-color);

}

.event__description, 
.event__program,
.event__organizers,
.event__partners,
.event__address {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.people_list {
    width: 100%;

    list-style: none;
}

.people_list li {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.people_list li img {
    width: 6vh;
    height: 6vh;

    margin-right: 1vw;

    border-radius: 6vh;
    
    background-color: #000;
}

.people_list a {
    display: flex;

    align-items: center;
    
    text-decoration: none;
    color: var(--main-font-color);
}
