/* GENERAL SETTINGS */

:root {
    --base-vertical-margin: 2.5vh;

    --base--transition: all 0.2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    
    font-family: Geologica;
    color: var(--main-font-color);
}

h3 {
    margin-bottom: var(--base-vertical-margin);
}

form {    
    text-align: center;
}

form > * {
    width: 100%;

    margin-bottom: 2vh;
    padding: 1vh 2vh;
}

form > h3 {
    font-size: 4.5vh;
    color: var(--accent-color);
}

form > a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 68.75vw;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.logo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100%;

    margin-top: var(--base-vertical-margin);
    margin-bottom: calc(var(--base-vertical-margin) - 1vh);

    font-size: 4vh;
    font-weight: bold;
    color: var(--main-font-color);
    text-decoration: none;
}

.cross {
    font-weight: 900;
}

.logo__accent {
    color: var(--accent-color);
}

.profile__login {

    padding: 1vh 2.5vh;

    font-size: 2.4vh;
    text-decoration: none;
    color: var(--main-bg-color);

    background: var(--accent-color);

    border-radius: 3vh;
}

nav {
    width: 100%;
    margin-bottom: calc(var(--base-vertical-margin) - 1vh);
}

.category-nav__scroll-container {
    width: 100%;

    overflow-x: visible;
    position: static;
}

.category-nav__scroll-container::after {
    display: none;
}

.category-nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: start;
}

.category-nav__item {
    margin-right: 2.5vw;
    margin-bottom: 1vh;
}

.category-nav__item a {
    font-size: 2.4vh;
    text-decoration: none;
    color: var(--main-font-color);
}

.category-nav__item a:hover {
    color: var(--accent-color);

    transition: var(--base--transition);
}

.category-nav__link.active {
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.slider {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 50vh;
    
    margin-bottom: var(--base-vertical-margin);
    
    background-color: #fff;
    
    /* border: 2px solid green; */
}

.slider__element {
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;

    width: 100%;
    height: 100%;

    padding: 4vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    border-radius: 3vh;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-decoration: none;
    
    color: var(--main-bg-color);    
}

.slider__element::before {
    content: "";
    
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, .3);

    border-radius: 3vh;
    
    z-index: 1;
}

.slider__element.active {
    opacity: 1;
    z-index: 10;
}

.slider__element > * {
    position: relative;
    
    z-index: 2;
}

.slider__element h4 {
    font-size: 4vh;
    font-weight: 400;
}

.slider__element p {
    font-size: 2.4vh;
    font-weight: 200;

    opacity: .8;
}

.affiche {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.affiche h3 {    
    font-size: 3vh;

    color: var(--accent-color);
}

.affiche__scroll-container {
    overflow-x: auto;
    padding-bottom: 1vh;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* IE & Edge */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* iOS */
}

.affiche__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.affiche__item {
    /* flex: 0 0 auto; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiche ul li a {
    text-decoration: none;
    color: var(--main-font-color);
}

.affiche ul li a:hover {
    color: var(--accent-color);

    transition: var(--base--transition);
}

.affiche__day p:nth-child(1) {
    font-weight: bold;
}

.affiche__day p:nth-child(2) {
    font-weight: normal;

    opacity: .5;
}

.weekend {
    color: var(--accent-color);
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
}

.event {
    flex: 0 0 calc((100% - 2 * 5vh) / 3);

    overflow: hidden;

    text-decoration: none;

    color: var(--main-font-color);
}

.event__photo {
    width: 100%;
    aspect-ratio: 8/5;

    object-fit: cover;
    
    border-radius: 3vh;
}

.event__card-name {
    font-size: 3vh;
    font-weight: 600;
}

.event__card-date {
    font-size: 2.4vh;
    font-weight: 400;

    opacity: .65;
}

/* EVENT */

.event__header {
    position: relative;

    width: 100%;
    height: 52vh;

    padding: var(--base-vertical-margin);
    margin-bottom: var(--base-vertical-margin);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    background: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: var(--main-bg-color);
}

.event__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.event__header > * {
    position: relative;
    z-index: 2;
}

.event__tags {
    display: flex;
    
    width: 50%;
    
    margin-bottom: calc(var(--base-vertical-margin) - 1.5vh);
}

.event__tags p {
    /* height: 3vh; */

    padding: .5vh 1.5vh;
    margin-right: .5vw;

    background: rgb(163 166 175 / .6);

    font-size: 1.8vh;
    font-weight: 500;

    border-radius: 4vh;
}

.event__tags p:first-child {
    background: var(--accent-color);
}

.event__header-title {
    margin-bottom: 1vh;
}

.event__header-date, .event__header-place {
    font-size: 2vh;
    font-weight: 400;
    color: #ABABAB;
}

.event__header-buttons {
    display: flex;

    margin-top: 1.5vh;
}

.event__header-buttons a {
    display: block;

    padding: 1vh 1.5vh;
    margin-right: 1vw;

    border-radius: 4vh;

    color: var(--main-bg-color);
    font-size: 2vh;
    text-decoration: none;

    background: var(--accent-color);

}

.event__header-buttons a:last-child {
    display: flex;
    
    padding: 1vh;

    align-items: center;
}

.event__header-buttons a img {
    width: 2.5vh;
    height: 2vh;
}

.event__description, 
.event__program,
.event__organizers,
.event__partners,
.event__address {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.event__address-map {
    width: 100%;
    height: 35vh;
}

.people_list {
    width: 100%;

    list-style: none;
}

.people_list li {
    width: 100%;
    margin-bottom: var(--base-vertical-margin);
}

.people_list li img {
    width: 6vh;
    height: 6vh;

    margin-right: 1vw;

    border-radius: 6vh;
    
    background-color: #000;
}

.people_list a {
    display: flex;

    align-items: center;
    
    text-decoration: none;
    color: var(--main-font-color);
}

.form__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vh;
    max-width: 90%;

    padding: var(--base-vertical-margin);

    background: #F1F1F1;
    border-radius: 4vh;
}

form input {

    font-size: 2.2vh;
    font-weight: 400;

    border: none;
    outline: none;

    border-radius: 4vh;
}

form input::placeholder {
    font-size: 2.2vh;
    font-weight: 400;
    color: rgba(0, 0, 0, .55)
}

form button {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-size: 2.2vh;
    font-weight: 400;

    border: none;
    outline: none;

    border-radius: 4vh;
}

form > a {
    color: var(--accent-color);
}