@media (max-width: 1200px) {
    .affiche__item {
        margin-right: var(--base-vertical-margin);
    }    
}

@media (max-width: 1024px) {
    .container {
        width: 85vw;
    }
}

@media (max-width: 768px) {
    .event {
        flex: 0 0 calc((100% - 1 * 5vh) / 2); /* 2 элемента в строке */
    }
}

@media (max-width: 480px) {
    .event {
        flex: 0 0 100%; /* 1 элемент в строке */
    }
}

/* FOOTER */

@media (max-width: 1600px) {
    .footer__logos {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer__logos a {
        flex-basis: 50%;
        box-sizing: border-box;

        text-align: center;
    }

    .footer__logos a img {
        height: 6vh;
    }
}

@media (max-width: 1390px) {
    .footer__logo {
        font-size: 4vh;
    }

    .footer__mail {
        font-size: 3vh;
    }
}

@media (max-width: 1200px) {
    .footer__logos a {
        flex-basis: 100%;
    }
}